.header { margin-bottom: 3em; border-bottom:1px solid #ccc;}
.footer { margin-top:3em; border-top:1px solid #ccc; }
.content { margin-top:3em; }

.right { padding-top:1.2em;text-align:right; }
.project > h3 { text-align:right;}

.signature { font-size:0.85em; text-align:right;}

.img { max-width:46%; padding:0.5em; margin:1em; border:1px solid #ddd; }
.img img {}
.left { float: left; }
.right { float: right; }
.caption {margin:0; padding:0.25em; font-style: italic; font-size: 0.9em;}

@media handheld, only screen and (max-width: 767px) {
  div + div { padding-top:0.5em; }  
}