/* Theme, roughly: 
  dark background,      #222
  white text,           #fff
  blue highlight,       rgb(113,180,217)
  orange highlight,     rgb(251,161, 108) 
  
  Fonts: 
  Merriweather:400,300,700 - Headings
  OpenSans: 400,300,600 - Content
	
*/

html {
  font-size: 12px;
  line-height: 18px;
  font-family:'Open Sans',sans-serif;color:#222;
}
.blur {-webkit-filter:blur(3px); filter:blur(3px); }
body {

  font-size: 1em;
  font-size: 1.25em;
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
h1{
	margin-top:2.5em;
  font-family:'Merriweather',serif;
 	background-color:rgba(255,255,255,0.2);
	padding-right:0.2em;
}
div.bg{ 
	background: url(/img/photo/tower2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	margin:0;
	padding:0;
	top:-8px;
	left:0;
	width:100%;
	min-height:100%;
	z-index:-100000;
	}
h2 {
 	background-color:rgba(255,255,255,0.2);
	padding:0.2em;
}
span.arrow{ 
	background-color:rgba(255,255,255,0.2); 
	padding:0.25em;
	margin:0.25em;
}
p {
/*  line-height: 1.5em;*/
/*  padding: 0.5em; */
  margin:0.5em;
}

p + p {
  margin-top: 1em;
}

a { 
  color: #277E98;
/*  color: rgb(113,180,217); */
  text-decoration: none;
}

a:hover {
  color: rgb(251,161, 108); 
  text-decoration: underline;
}

a:active { color: #ad4d2f; }

/* Thank you A List Apart, http://www.alistapart.com/articles/taminglists/ */
ul li:before {
	content: "\00BB \0020";
}
	
ul li, ul ul, ul ol,
ol li, ol ul, ol ol {
  list-style-type: none;
  margin-left: 0.5em;
}


ul { margin-top: 1em; }

h1 { font-size: 2em; line-height: 1.5em; font-weight: 400;}
h2 { font-size: 1.25em; line-height: 1.25em; font-weight: 200;}
h3 { font-size: 1.5em; font-weight: 200;}
h4 { font-size: 1.25em; font-weight: 200; margin-bottom: 0.1em; }
h5 { font-size: 1em;font-weight: 400; }
h6 { font-size: 0.75em; font-weight: 200;}
div > h1 { text-align: left;}
.big {font-size: 1.25em;line-height: 1.5em; color: #222;}
h2.emph { font-size: 2em; font-family: "Merriweather" }
li { line-height: 1.5em; }
.container .container, .container .container > * {
  padding: 0;
}

.row > div {
  margin-top: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
/*.content > div { padding: 0.5em; border: 1px solid rgba(113,180,217, 0.5); }*/

.row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header.row, footer.row {
  margin-top: 0;
  margin-bottom: 0;
}

h2, h6 { text-align: right; }

.alt {color: rgb(113,180,217)}
.row + .row {
/*  border-top: 1px solid #e9e9e9;*/
}
.info-section + .info-section { margin-top: 1em; padding-top: 1em;}/* border-top: 1px solid rgb(251,161, 108); }*/

/* Box model fix, don't worry about borders and layouts */
.row > div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.highlight { 
  padding: 1em;
  margin: 1em;
  margin-left: 3em;
  width: 80%;
  margin-bottom: 2em !important;
}
.iconset > a > i { font-size: 3em; }
.more { text-align: right; padding-top: 0.75em; margin-bottom: -1em; }
.post-date { font-size: 0.9em; text-align: right; }
/*.no-style { color: #000; text-decoration: none; }*/
.research { margin: 0.5em; }
.research-title {}
.text-description > p { border-left: 1px solid #EEE; margin-left: 0.25em; padding-left: 0.5em; }
.iconset { padding-left: 2em; font-size: 0.6em;line-height: 8em; letter-spacing: 2em; }
.iconset > a:hover { text-decoration: none !important; }
/*span.research-title { font-size: 1.15em;}
span.research-school { font-size: 1em;}*/
@media handheld, only screen and (max-width: 767px) {
   body {
     margin-top: 2.75em;
     padding: 0;
   }
}